﻿@using Hospital.Web.ViewModels.Administration.Dashboard.Doctor;

@model AddDoctorInput

@foreach (var modelState in ViewData.ModelState.Values)
{
    foreach (var error in modelState.Errors)
    {
        <p class="error-message">@error.ErrorMessage</p>
    }
}

<div class="row">
    <div class="jumbotron col-md-12">
        <div class="heading-container bottom-buffer-md">
            <h1>Here you can add a Department!</h1>
        </div>

        <form class="mx-auto half-width col-5" method="post" asp-area="Administration" asp-controller="Dashboard" asp-action="AddDoctor">
            <div class="top-border-line primary-separator"></div>

            <div class="form-group">
                <label asp-for="UserEmail" class="suls-text-color">Email of the user you want to make a doctor</label>
                <input asp-for="UserEmail" class="form-control" placeholder="Email...">
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FullName" class="suls-text-color">Doctor's full name</label>
                <input asp-for="FullName" class="form-control" placeholder="FullName...">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Adress" class="suls-text-color">Doctor's Adress</label>
                <input asp-for="Adress" class="form-control" placeholder="Adress...">
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Qualification" class="suls-text-color">Doctor's Qualifications</label>
                <textarea asp-for="Qualification" class="form-control" cols="30" rows="5" placeholder="Qualification...">Qualification...</textarea>
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>

            <div class="top-border-line primary-separator"></div>

            <button type="submit" class="btn forum-add-bg-color">Add this doctor to our system</button>
        </form>
    </div>
</div>