<section class="treatment_section layout_padding">
    <div class="side_img">
        <img src="images/treatment-side-img.jpg" alt="">
    </div>
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Hospital <span>Treatment</span>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="box ">
                    <div class="img-box">
                        <img src="images/t1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Nephrologist Care
                        </h4>
                        <p>
                            Nephrologists develop treatment plans tailored to each patient's specific condition. This may involve medication management, dietary changes, lifestyle modifications, or procedures such as dialysis or kidney transplantation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box ">
                    <div class="img-box">
                        <img src="images/t2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Eye Care
                        </h4>
                        <p>
                            Eye care providers diagnose and treat various eye conditions and diseases, including glaucoma, cataracts, diabetic retinopathy, macular degeneration, and retinal disorders. Treatment may involve medications, laser therapy, or surgery.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box ">
                    <div class="img-box">
                        <img src="images/t3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Pediatrician Clinic
                        </h4>
                        <p>
                            Overall, treatment in a pediatrician clinic is tailored to meet the individual needs of each child, with a focus on providing compassionate, evidence-based care to support optimal health and development from infancy through adolescence.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box ">
                    <div class="img-box">
                        <img src="images/t4.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Parental Care
                        </h4>
                        <p>
                            Overall, parental care involves a lifelong commitment to nurturing, supporting, and guiding children through various stages of development, helping them grow into healthy, resilient, and well-adjusted individuals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>